.region-menus ~ * {
  margin-top: 15px;
}
.region-menus,
.region-menus ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.region-menus > * + *,
.region-menus .menu-item + .menu-item {
  padding-left: 10px;
}
.region-menus li:not(.menu-item--expanded) {
  list-style: none;
}
.region-menus .menu-item--expanded {
  margin-left: 15px;
}
.region-menus a {
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #fafafa;
}
.region-menus a:hover,
.region-menus a:active,
.region-menus a:focus {
  background-color: #fafafa;
  text-decoration: underline;
}
