.region-header ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.region-header li:not(.menu-item--expanded) {
  list-style: none;
}
.block-menu .menu {
  justify-content: space-between;
}
.region-header .menu-item--expanded {
  margin-left: 15px;
}
.region-header a {
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
}
.region-header a:hover,
.region-header a:active,
.region-header a:focus {
  background-color: white;
  text-decoration: underline;
}
